<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <button class="button" (click)="play()">Play</button>
  <br><br>
  <!-- <div class="emoji" *ngIf="!isReading && isLoaded">
    <div class="head">
      <div class="eyes">
        <div class="eye eye-left"></div>
        <div class="eye eye-right"></div>
      </div>
      <div class="smile mouth"></div>
    </div>
  </div> -->
  <!-- <div class="emoji">
    <div class="head">
      <div class="eyes">
        <div class="eye eye-left"></div>
        <div class="eye eye-right"></div>
      </div>
      <div class="face-mask mouth">
        <div class="strap strap-top-left"></div>
        <div class="strap strap-top-right"></div>
        <div class="strap strap-bottom-left"></div>
        <div class="strap strap-bottom-right"></div>
      </div>
    </div>
  </div> -->
  <!-- <div class="emoji" *ngIf="isReading && isLoaded">
    <div class="head">
      <div class="eyes">
        <div class="eye eye-left"></div>
        <div class="eye eye-right"></div>
      </div>
      <div class="open-mouth mouth"></div>
    </div>
  </div> -->
  <div class="item" >
    <img *ngIf="isReading && phone=='ai'" src="../assets/girl_ai.png">
    <img *ngIf="isReading && phone=='ii'" src="../assets/girl_e.png">
    <img *ngIf="isReading && phone=='au'" src="../assets/girl_etc.png">
    <img *ngIf="isReading && phone=='fv'" src="../assets/girl_fv.png">
    <img *ngIf="isReading && phone=='l'" src="../assets/girl_l.png">
    <img *ngIf="!isReading" src="../assets/girl_mbp.png">
    <img *ngIf="isReading && phone=='oo'" src="../assets/girl_o.png">
    <img *ngIf="isReading && phone=='uu'" src="../assets/girl_u.png">
    <img *ngIf="isReading && phone=='wq'" src="../assets/girl_wq.png">
    <br><br>
    <h1 class="word">{{this.word}}</h1>
  </div>
</body>
</html>
