<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <button class="button" (click)="play()">Play</button>
  <br><br>
  <div class="item" >
    <img *ngIf="isReading && phone=='ai'" src="../assets/1.jpg">
    <img *ngIf="isReading && phone=='ii'" src="../assets/2.jpg">
    <img *ngIf="isReading && phone=='au'" src="../assets/3.jpg">
    <img *ngIf="isReading && phone=='fv'" src="../assets/4.jpg">
    <img *ngIf="isReading && phone=='l'" src="../assets/5.jpg">
    <img *ngIf="isReading && phone=='oo'" src="../assets/6.jpg">
    <img *ngIf="isReading && phone=='uu'" src="../assets/7.jpg">
    <img *ngIf="isReading && phone=='wq'" src="../assets/8.jpg">
    <img *ngIf="isReading && phone=='ai'" src="../assets/9.jpg">
    <img *ngIf="isReading && phone=='ii'" src="../assets/10.jpg">
    <img *ngIf="isReading && phone=='au'" src="../assets/11.jpg">
    <img *ngIf="isReading && phone=='fv'" src="../assets/12.jpg">
    <img *ngIf="isReading && phone=='l'" src="../assets/13.jpg">
    <img *ngIf="isReading && phone=='oo'" src="../assets/14.jpg">
    <img *ngIf="isReading && phone=='uu'" src="../assets/15.jpg">
    <img *ngIf="!isReading" src="../assets/1.jpg">
    <br><br>
    <h1 class="word">{{this.word}}</h1>
  </div>
</body>
</html>
